html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1REM 10PX */
  background-color: #e4e4e5;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 1.6rem;
  margin: 0;
}

p,
ul {
  font-size: 1.8rem;
}

/* HEADER */

.header {
  background-color: white;
  padding-bottom: 5rem;
}

.header__navbar {
  display: flex;
  flex-direction: column;
  gap: 0;
}

@media (min-width: 1024px) {
  .header__navbar {
    flex-direction: row;
    justify-content: space-around;
  }
}

.header__img {
  height: 20rem;
  object-fit: contain;
}

@media (min-width: 1024px) {
  .header__img {
    height: 30rem;
    object-fit: contain;
  }
}

.navbar__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

@media (min-width: 1024px) {
  .navbar__list {
    /* gap: 5rem; */
    padding-top: 5rem;
    flex-direction: row;
    align-items: center;
  }
}

.btn__navbar {
  text-decoration: none;
  color: black;
  font-weight: bold;
  width: 80%;
  text-align: center;
  padding: 1.5rem 0;
  transition: background-color 0.8s;
  border-radius: 1rem;
}

@media (min-width: 1024px) {
  .btn__navbar {
    width: auto;
    padding: 2rem 5rem;
  }
}

.btn__navbar:hover,
.btn__navbar--active {
  background-color: black;
  color: white;
  width: 80%;
  text-align: center;
  padding: 1.5rem 0;
}

.btn {
  padding: 2rem 5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.5rem;
  transition: background-color 0.8s;
}

.btn:hover {
  background-color: black;
  color: white;
}

@media (min-width: 1024px) {
  .btn__navbar:hover,
  .btn__navbar--active {
    padding: 2rem 5rem;
  }
}

/* MAIN */

.main {
  text-align: center;
}

/* .main__text--maps {
  position: relative;
} */

.maps__desktop {
  display: none;
}

@media (min-width: 1024px) {
  .main__text {
    text-align: start;
    padding: 0 10rem;
  }
  .maps__phone {
    display: none;
  }
  .maps__desktop {
    display: block;
  }
}

.main__subtitle {
  font-weight: bold;
}

/* FOOTER */

.footer {
  background-color: black;
  padding-bottom: 5rem;
}

.footer__title {
  color: white;
  text-align: center;
  padding: 3rem 0;
}

.footer__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.btn__footer {
  color: white;
  text-decoration: none;
  font-weight: bold;
  width: 80%;
  text-align: center;
  padding: 1.5rem 0;
  border-radius: 1rem;
  transition: background-color 0.8s;
}

.btn__footer:hover {
  background-color: white;
  color: black;
}

/* ABOUT */

/* CONTACT */
.main__text .contact {
  text-align: center;
}

/* RULES */

.rules__orden {
  list-style: none;
}

.flecha {
  list-style: none;
}

/* REGISTRATION */

fieldset {
  border: 0;
}

.form__question {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 3rem;
  margin: 2rem 0;
}

@media (min-width: 1024px) {
  .form__question {
    flex-direction: row;
    padding: 0;
    margin: 0;
  }
}

.question__title {
  font-size: 2rem;
}

.question__input {
  border: 0;
  border-bottom: 1px black solid;
  background-color: transparent;
  padding: 1rem;
  margin: 1rem 0;
  text-align: center;
  font-size: 1.5rem;
}

@media (min-width: 1024px) {
  .question__input {
    min-width: 50rem;
  }
}

@media (min-width: 1024px) {
}

/* INPUT SQUARE */
input[type="radio"] {
  border: 1px solid black;
  padding: 0.5em;
  -webkit-appearance: none;
}
input[type="radio"]:checked {
  background-color: black;
}
input[type="radio"]:focus {
  outline-color: transparent;
}

/* INPUT RADIUS */

.form__questionRadio {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
}

.form__questionRadio input[type="text"] {
  margin: 0;
  padding: 0;
}
